QueryKeys utilities

allUsers            =>          /users
allColaborators     =>          /collaborators
allContructions     =>          /contructions
allSubfields        =>          /subfields
allGardens          =>          /gardens
allAreas            =>          /areas